@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'IntegralCFBold';
    src: url(../src/assets/Fontspring-DEMO-integralcf-bold.otf);
    font-weight: bold;
    font-style: normal;

}