@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: 'IntegralCFBold';
    src: url(../src/assets/Fontspring-DEMO-integralcf-bold.otf);
    font-weight: bold;
    font-style: normal;

}
@font-face{
    font-family: 'IntegralCFBold';
    src: url(../src/assets/Satoshi-Bold.otf);
    font-weight: bold;
    font-style: normal;

}
@font-face{
    font-family: 'IntegralCFBold';
    src: url(../src/assets/Satoshi-Regular.otf);
    font-weight: bold;
    font-style: normal;

}